.ipynb_checkpoints

.ipython/

venv/
.env/

__pycache__/
*.py[cod]

*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.fls
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.dvi
*.xdv
*-eps-converted-to.pdf

*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.bib.bak
*.bib~
*.bcf
*.run.xml

*.synctex.gz
*.synctex.gz(busy)

*.fdb_latexmk
*.latexmkrc

*.nav
*.snm
*.vrb

*.glo
*.ist
*.gls
*.glg

*.makefile
*.figlist
*.gui
*.bak
